#[PLATFORM]-Add-BEGIN by mike.li for msg2238 driver code.[2015.03.06]
config TOUCHSCREEN_MSG2XXX           
       tristate "MSG2XXX touchscreen"
	default n
       depends on I2C
       help
         Say Y here if you have a MSG2XXX touchscreen on Haier A16C3H.
         If unsure, say N.
         To compile this driver as a module, choose M here: the
         module will be called MSG2XXX.
#[PLATFORM]-Add-END by mike.li
